.heading {
  font-size: 100px;
  line-height: 1.2;
}

.text {
  font-size: 20px;
  line-height: 1.2;
}

.content {
  max-width: 520px;
  text-align: right;
  right: 250px;
  bottom: 250px;
  position: absolute;
}
