.parallaxBox {
  &.isBackground {
    overflow: hidden;
    height: 100%;
    @include desktop {
      height: 100svh;
    }
  }
  &_inner {
    will-change: transform;

    &.isFade {
      will-change: opacity, transform;
    }
  }
}
