.grow {
  --size: 100vw;
  --sd: calc(var(--size) * 4);
  position: relative;
  top: calc(var(--sd) / -2);
  left: calc(var(--sd) / -2);
  width: var(--sd);
  height: var(--sd);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #040c15;
  border-radius: 50%;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    width: 44.2rem;
    height: 73.2rem;
    transform: rotate(-71.753deg);
    flex-shrink: 0;
    position: absolute;
    z-index: 0;
    border-radius: 732px;
    background: var(
      --Gradient---Glow,
      linear-gradient(
        106deg,
        hsla(215, 100%, 50%, 0.16) 0%,
        /* Converted to HSL for smoother transitions */ hsla(208, 25%, 50%, 0.3) 30%,
        /* Added intermediate stop for smoother flow */ hsla(208, 25%, 50%, 0.4) 65.07%,
        hsla(215, 95%, 15%, 0.7) 85%,
        /* Adjusted for gradual opacity change */ hsla(215, 95%, 15%, 0.8) 100%
      )
    );
    filter: blur(232px);
  }
}

.cursor {
  z-index: -1 !important;
}
