.wrapper {
  height: 100svh;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  // background: radial-gradient(circle, #162032 25%, #040c15 60%);
  &_bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    @include tablet {
      width: 140%;
    }
    &_title {
      width: max-content;
      text-box: trim-both cap alphabetic;
      word-break: keep-all;
      text-align: center;
      &.bigText {
        font-size: rem(275px) !important;
        line-height: 80% !important;
        letter-spacing: rem(-2.35px) !important;
        @include laptop {
          font-size: rem(762px) !important;
          letter-spacing: rem(-7.612px) !important;
        }
      }
    }
  }
  &_inner {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    &_container {
      height: 100%;
    }
  }
}
