.subContent {
  margin-bottom: var(--space-40);
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}

.labelContent {
  margin-bottom: var(--space-40);
  span strong {
    font-size: 1.5em;
  }
}

.about {
  margin-top: 2.4rem;
  margin-bottom: var(--space-240);
}

.dot {
  aspect-ratio: 1/1;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1;
  color: var(--white);
  opacity: 0.5;
  display: block;
}

.value {
  display: flex;
  align-items: flex-start;
  gap: var(--space-40);
}

.mainContent {
  font-weight: 400 !important;
  margin-bottom: var(--space-80);
}

.btnContact {
  border: 1px solid var(--yellow);
  border-radius: rem(12px);
  padding: 1.2rem 2.4rem;
  display: inline-block;
  line-height: 1;
  color: var(--yellow);
  font-size: rem(24px);
  text-transform: uppercase;
}
