@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --index-bgpar-canvas: 5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.container {
  max-width: 100% !important;
  padding-left: var(--padding-container) !important;
  padding-right: var(--padding-container) !important;

  @include min-tablet {
    padding-left: var(--padding-container-sm) !important;
    padding-right: var(--padding-container-sm) !important;
  }

  @include pcSmall {
    padding-left: var(--padding-container-md) !important;
    padding-right: var(--padding-container-md) !important;
  }
}

.containerGap {
  --bs-gutter-x: #{rem(20px)} !important;

  @include min-tablet {
    --bs-gutter-x: #{rem(12px)} !important;
  }
}

strong {
  font-weight: 500 !important;
}

h1 {
  color: white;
  text-align: center;
}
