:root {
  --gap-x: #{rem(30px)};
  --easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);

  --dark: #000;
  --white: #fff;
  --yellow: #f8c40f;
  --font-roboto: 'Roboto Condensed', sans-serif;
  --font-default: 'Manrope', sans-serif;

  --space-240: 24rem;
  --space-160: 16rem;
  --space-120: 12rem;
  --space-80: 8rem;
  --space-40: 4rem;
  --space-24: 2.4rem;
  --space-16: 1.6rem;
  --space-12: 1.2rem;
}
