$white: #ffffff;
$black: #000000;
$blue: #1aacc0;
$light-grey: #819aab;
$medium-grey: #151823;
$dark-grey: #0c0f16;

$typography-colors: (
  white: $white,
  black: $black,
  blue: $blue,
  lightGrey: $light-grey,
  mediumGrey: $medium-grey,
  darkGrey: $dark-grey,
);
