@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'root';
@import 'reboot';
@import 'utils';
@import 'variable';
@import 'globals';
@import 'bootstrap/index';

// tam thoi
.dg.ac {
  z-index: 9999 !important;
}

.dg.a {
  float: left !important;
}

.backgroundCsServices {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  z-index: -2;
  border: 1px solid white;
}

.backgroundCsServicesItem {
  position: relative;
  display: block;

  z-index: -2;
}

.backgroundCsServicesItem:nth-child(1) {
  width: 100vw;
  height: 100vh;
  top: 70%;
  border: 1px solid red;
}

.backgroundCsServicesItem:nth-child(2) {
  width: 100vw;
  height: 100vh;
  top: 20%;
  border: 1px solid blue;
}

// tamthoi
.sectiontt {
  height: 100vh;
  overflow: hidden;
  border: 5px solid green;
}

#section-pin {
  display: flex;
  flex-direction: row;
}

.slide1 {
  width: 500px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide1 h1 {
  font-size: 3rem;
}

.blue h1 {
  font-size: 50px;
  border: 10px solid white;
}

.observer-section h1 {
  border: 10px solid rgb(247, 8, 8);
}

.section {
  z-index: 9999;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading_anim {
  margin: 0 !important;
  will-change: transform;
}

.heading_anim .char,
.heading_anim .words,
.heading_anim .word {
  margin: 0 !important;
  will-change: transform, opacity;
}

.waptam {
  margin: auto;
  width: 400px;
  display: block;
  height: 400px;
  position: absolute;
}

#domAbout {
  // z-index: 99;

  overflow: hidden;
}

#domTeam {
  // z-index: 99;

  overflow: hidden;
}

.lay {
  background: radial-gradient(
    circle,
    rgba(255, 101, 66, 0) 0%,
    rgba(75, 66, 255, 0.5999649859943977) 0%,
    rgba(255, 101, 66, 0) 100%
  );
}

/* eff */
.effectBox {
  display: none;
  background: radial-gradient(
    circle,
    rgba(255, 101, 66, 0) 0%,
    rgb(6 0 132 / 72%) 0%,
    rgba(255, 101, 66, 0) 50%
  );
  border-radius: 50%;
  /* font-size: 250px; */
  height: 1em;
  width: 1em;
  filter: blur(72px);
  position: absolute;
  top: -30px;
  left: -250px;
  transform-origin: center;
  width: 200px;
  height: 200px;
  z-index: 42;
  mix-blend-mode: darken;
}

.section-s {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.swipe-section {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: visible;
  z-index: 999;
}

.swipe-section .panel {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.vh-200 {
  height: 500vh !important;
}

.blue {
  background-color: blue;
}

.orange {
  background: orange;
}

.purple {
  background: purple;
}

.red {
  background: red;
}
