.paragraph {
  font-style: normal;
  font-weight: 400;
  line-height: 100%;

  &__24 {
    font-size: rem(16px);
    line-height: rem(26px);
    letter-spacing: rem(-0.48px);
    font-weight: 500;

    @include pcSmall {
      font-size: rem(24px);
      line-height: rem(38px);
      letter-spacing: rem(-0.72px);
      font-weight: 400;
    }
  }

  &__36 {
    font-size: rem(20px);
    line-height: rem(26px);
    letter-spacing: rem(-0.6px);
    font-weight: 500;

    @include min-tablet {
      font-size: rem(26px);
      line-height: rem(36px);
      letter-spacing: rem(-0.78px);
      font-weight: 500;
    }

    @include pcSmall {
      font-size: rem(36px);
      line-height: rem(42px);
      letter-spacing: rem(-1.08px);
      font-weight: 400;
    }
  }

  &__blue {
    color: var(--blue, #1aacc0);
  }

  &__greyBlue {
    color: var(--grey-blue, #b8ccda);
  }

  &__white {
    color: var(--white, #fff);
  }

  &__black {
    color: var(--black, #000);
  }

  &__lightGrey {
    color: var(--lightGrey, #819aab);
  }

  &__mediumGrey {
    color: var(--mediumGrey, #151823);
  }

  &__darkGrey {
    color: var(--darkGrey, #0c0f16);
  }
}
