.paragraph {
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  font-size: rem(18px);

  &__20 {
    font-size: rem(20px);
  }

  &__24 {
    font-size: rem(24px);
  }

  &__yellow {
    color: var(--yellow, #f5c518);
  }
}
