.pageLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  z-index: 10;
  color: white;
  font-size: 80px;
  justify-content: center;
  background: black;
  align-items: center;

  &.isHide {
    pointer-events: none;
    visibility: hidden;
    z-index: -999;
    opacity: 0;
  }
}
