.wrapper {
  display: flex;
  align-items: center;
  gap: rem(16px);
  transition-duration: 0.4s;
  border-radius: rem(4px);
  &:hover {
    background: linear-gradient(
      96deg,
      rgba(255, 255, 255, 0) 2.41%,
      rgba(255, 255, 255, 0.05) 79.49%
    );
  }
  &_image {
    width: rem(101px);
    height: rem(157px);
    flex-shrink: 0;
    border-radius: rem(4px);
    overflow: hidden;
    aspect-ratio: 101 / 157;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(16px);

    &_description {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    &_date {
      display: flex;
      align-items: center;
      gap: rem(8px);
      &_icon {
        width: rem(16px);
        height: rem(16px);
        svg {
          width: 100%;
          height: 100%;
          path {
            stroke: var(--charcoal-300);
          }
        }
      }
    }
  }
}
