.pageSwitch {
  display: grid;
  // background: var(--white);
}

.transition {
  grid-column: 1;
  grid-row: 1;
  background: var(--dark);
  will-change: transform, opacity;

  // transform-origin: top center;

  &__old {
    --header-height: 112px;
    padding-top: var(--header-height);
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
  }

  &__new {
    z-index: 2;
  }

  &__history,
  &__label {
    transform: scale(0.5);
    height: 100vh;
  }
}
