.pageLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  z-index: 10;
  color: white;
  // font-size: 80px;
  justify-content: center;
  background: var(--midnight-500);
  align-items: center;
  will-change: opacity;

  &.isHide {
    pointer-events: none;
    opacity: 0;
  }
}
