.heading {
  font-style: normal;
  font-weight: 600;
  line-height: 100%;

  &__48 {
    font-size: 4.8rem;
  }

  &__80 {
    font-size: 8rem;
  }

  &__140 {
    font-size: rem(140px);
  }

  &__200 {
    font-size: rem(200px);
  }

  &__yellow {
    color: var(--yellow, #f5c518);
  }
}
