.heading {
  font-style: normal;
  font-weight: 400;
  line-height: 100%;

  &__80 {
    font-size: rem(36px);
    line-height: 110%;
    letter-spacing: rem(-1.8px);

    @include min-tablet {
      font-size: rem(50px);
      letter-spacing: rem(-2.5px);
    }

    @include pcSmall {
      font-size: rem(80px);
      letter-spacing: rem(-4px);
    }
  }

  &__140 {
    font-size: rem(48px);
    line-height: rem(60px);
    letter-spacing: rem(-3.36px);

    @include min-tablet {
      font-size: rem(90px);
      line-height: rem(100px);
      letter-spacing: rem(-4.5px);
    }

    @include pcSmall {
      font-size: rem(120px);
      line-height: 1;
      letter-spacing: rem(-7px);
    }
  }

  &__300 {
    font-size: rem(90px);
    line-height: rem(120px);
    letter-spacing: 0;

    @include min-tablet {
      font-size: rem(200px);
      line-height: rem(200px);
      letter-spacing: rem(4px);
    }

    @include pcSmall {
      font-size: rem(300px);
      line-height: rem(300px);
      letter-spacing: rem(6px);
    }
  }

  &__420 {
    font-size: rem(150px);
    line-height: rem(150px);
    letter-spacing: 0;

    @include min-tablet {
      font-size: rem(280px);
      line-height: rem(280px);
      letter-spacing: rem(5.6px);
    }

    @include pcSmall {
      font-size: rem(420px);
      line-height: rem(400px);
      letter-spacing: rem(8.4px);
    }
  }

  &__blue {
    color: var(--blue, #1aacc0);
  }

  &__greyBlue {
    color: var(--grey-blue, #b8ccda);
  }

  &__white {
    color: var(--white, #fff);
  }

  &__black {
    color: var(--black, #000);
  }

  &__lightGrey {
    color: var(--lightGrey, #819aab);
  }

  &__mediumGrey {
    color: var(--mediumGrey, #151823);
  }

  &__darkGrey {
    color: var(--darkGrey, #0c0f16);
  }
}
