.header {
  position: fixed;
  z-index: 99999;
  width: 100%;
  mix-blend-mode: difference;
  background: black;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    padding: 30px;
    display: block;
    font-size: 18px;
    line-height: 1.3;
    color: white;
    text-decoration: underline;
  }
}
