.header {
  padding-top: 24px;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  // background-color: var(--dark);

  &_container {
    padding: 24px 0;
  }
  &_label {
    line-height: 1.15;
  }
}
