.tagsList {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-bottom: var(--space-40);
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2.4rem;
  letter-spacing: 0.1em;
  padding: 0.8rem 1.6rem;
  color: rgba(255, 255, 255, 0.6);

  .tagText {
    font-weight: 400;
    text-transform: none;
  }
}
