.label {
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  font-size: 1.4rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  &__16 {
    font-size: 1.6rem;
  }

  &__yellow {
    color: var(--yellow, #f5c518);
  }
}
